<div class="m-x-auto">

    <div class="starter-template text-xs-center">
      <app-search (userUpdated)="search($event)"></app-search>
    </div>
  
  </div>
  
  <section>
    <div class="container">
      <div class=" card bg-dark text-white ">
        <h2 class="text-center" appUnderline>Repositories</h2>
        <div class="githubRepos">
          <div class="label " *ngFor="let githubRepo of githubRepos">
            <div class="card-body">
              <h4 class="card-title h4" appUnderline>Repo Name: <span class="rep">{{githubRepo.name}}</span> </h4>
              <div class="card-text">
                <hr>
                <h5 class="" appUnderline>Description:<span> {{githubRepo.description}}</span></h5>
                <div class="card-subtitle mb-2" appUnderline>Language: <span> {{githubRepo.language}}</span></div>
                <div class="card-subtitle mb-2">Created: <span id="created">{{githubRepo.created_at|date }}</span>
                  <br>
                  <span class="blockquote-footer">{{githubRepo.created_at | date|dateAgo}}</span></div>
              </div>
            </div>
            <div class="card-footer">
              <div class="btn-group" appUnderline>Watchers:
                <button class="btn btn-sm btn-light text-dark"><span class="forks">{{githubRepo.watchers_count}}</span></button>
              </div>&nbsp;&nbsp;
              <div class="btn-group" appUnderline>Forks:
                <button class="btn btn-sm btn-outline-warning text-light">
                  <span class="forks">{{githubRepo.forks}}</span></button>
              </div>
              <div class="btn-group ml-5 mt-2">
                <button class="btn btn-success" id="visit"><a href="{{githubRepo.html_url}}" target="blank"
                    class="card-link">View</a> </button>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
