<div class=" container">
  <div class="text-center p-5">
    <h4>
      Craig Olonyi
      <small class="text-center p-5">GitHub Public Repositories</small>
    </h4>
  </div>
  <div class="row">

    <div class="col-sm-6" *ngFor="let repo of gitHubRepos">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> {{repo.name}}</h5>
          <p class="card-text"> {{repo.description}}</p>
          <a href="{{repo.html url}}" target="-blank" class="btn btn-primary"> Go Repository</a>

        </div>
      </div>
    </div>
  </div>
</div>