/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("../src/assets/GITPRO.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
